<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">

        <div class="image">
            <img src="images\music-left.webp">
        </div>
        <div class="text">
            <h2><span>Join us</span> and embark on an<br> incredible musical <span>journey!</span></h2>
            <a href="/auth"><img src="images\spotify-logo.png" alt="image">Continue with Mustify</a>
        </div>
    </div>
</body>
</html>